[submodule "OpenGL-Core/vendor/glfw"]
	path = OpenGL-Core/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "OpenGL-Core/vendor/spdlog"]
	path = OpenGL-Core/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "OpenGL-Core/vendor/glm"]
	path = OpenGL-Core/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "OpenGL-Core/vendor/imgui"]
	path = OpenGL-Core/vendor/imgui
	url = https://github.com/TheCherno/imgui
